@import url("reset.css");

li{
   color: rgb(255, 0, 225);
}
.desk{
   color: rgb(85, 9, 198);
}
.text-a {
   color: antiquewhite;
}
.text-b {
   color: aqua;
}
.text-c {
   color: aquamarine;
}
.text-d {
   color: beige;
}
.text-i {
   color: blueviolet;
}
.ul {
   color: rgb(191, 240, 14);
}
#block-1{
   color: red;
}
#block-2{
   color: red;
}
#block-3{
   color: red;
}
#block-4{
   color: red;
}
div.lesson{
   color: green;
}
.page-text.text{
   color: yellowgreen;
}
.text-a,
h3,
.text-b{
   color: blueviolet;
}
.blank a{
   color: blue;
}
.blank .red-text{
   color: red;
}
.text-text>p{
   color: orangered;
}
.text-t~p{
   color: rgb(204, 62, 240);
}
.text-a+h5{
   color: chartreuse;
}
[class*="__forever"]{
   color: rgb(249, 229, 8); 
}