@import url("fonts.css");
@import url("reset.css");


   .lesson-7{
   background-color: #40ddb6;
   margin: 50px 500px;
   text-align: center;
   font-size: 20px;
   border: 5px solid rgb(8, 21, 108);
   padding: 20px;
   max-width: 500px;
   box-shadow: inset 0 0 15px 1px #000;
}
.licencing-container {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   margin: 0 auto;
   padding: 50px 15px;
   max-width: 1248px;
}
.licencing-title-block{
   margin-bottom: 70px;
   text-align: center;
}
.template-information {
   margin-bottom: 29px;
}
.square {
}
.title-licencing,
.title-icons,
.title-phosphor,
.title-photography,
.title-pexels_license,
.title-unsplash_license,
.title-fonts{
   font-family: "Poppins",sans-serif;
   color: #37393F;
   font-weight: 700;
}
.title-licencing{
   text-align: center;
   font-size: 60px;
   line-height: 1.21;
}
.title-icons,
.title-photography,
.title-fonts{
   font-size: 40px;
   line-height: 1.21;
}
.title-phosphor,
.title-pexels_license,
.title-unsplash_license {
   font-size: 30px;
   line-height: normal;
}
.square{
   display: inline-block;
   width: 12px;
   height: 12px;
   background-color: #40ddb6;
   margin-right: 6px;
}
.template-information{
   vertical-align: top;
   color: #37393F;
   font-weight: 500;
   line-height: normal;
   display: inline-block;
}
.text-pexels_license,
.text-unsplash_license,
.title-icons,
.color-text,
.color-text2{
   color: #40DDB6;
}
.color-text{
   font-weight: 400;
}
.color-text2{
   font-weight: 500;
}
.text-icons,
.text-photography,
.text-fonts{
   color: #7D7D7D;
}
.text-icons,
.text-photography,
.text-pexels_license,
.text-unsplash_license,
.text-font{
   line-height: 1.46;
}
.title-icons,
.title-fonts{
   margin-bottom: 11px;
}
.text-icons{
   margin-bottom: 32px;
}
.title-phosphor,
.text-unsplash_license{
   margin-bottom: 100px;
}
.text-photography,
.text-pexels_license{
   margin-bottom: 24px;
}
.title-pexels_license,
.title-unsplash_license{
   margin-bottom: 8px;
}
.text-font{
   margin-bottom: 34.5px;
}
.project-information-container {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   padding: 50 15px;
   max-width: 890px;
   margin: 0 auto 40px;
   color: #7D7D7D;
   line-height: 1.46
}
.title-project-information {
   font-family: "Poppins", sans-serif;
   font-size: 40px;
   color: #37393F;
   margin-bottom: 13px;
   font-weight: 700;
   line-height: 1.27;
   text-transform: capitalize;
}
.text-project-information,
.text-project-information2,
.text-project-information3{
   font-weight: 400;
}
.list,
.ol{
   font-weight: 500;
}
.p-1,
.text-project-information,
.text-project-information2,
.list,
.ol{
   margin-bottom: 35px;
}
.list{
   font-weight: 500;
   line-height: 1.46;
   padding-left: 43px;
}
.ol{
   font-weight: 500;
   line-height: 1.46;
   padding-left: 43px;
}
.list li{
   list-style: initial;
}
.ol li{
   list-style: decimal;
}
.clothing-container {
   font-family: "Causten";
   color: #807D7E;;
   font-size: 20px;
   font-weight: 400;
   margin: 0 auto;
   padding: 50px 15px;
   max-width: 1270px;
   line-height: 1.67;
   letter-spacing: 0.4px;
   margin-bottom: 20px;
}
.euphoria{
   font-weight: 700;
}
.titlle-clothing{
   color: #3C4242;
   font-size: 28px;
   max-width: 552px;
   letter-spacing: 0.56px;
   margin-bottom: 30px;
   line-height: 1.19;
}
.titlle-clothing,
.sub-title-reexplore-women,
.sub-title-one-stop,
.sub-title-one-stop {
   font-family: "Core Sans C";
   font-weight: 600;
}
.sub-title-reexplore-women,
.our-collection,
.sub-title-one-stop{
   margin-bottom: 25px;
}
.text-women-clothing,
.text-one-stop1,
.text-one-stop2{
   margin-bottom: 20px;
}
.jewels-container {
   max-width: 1103px;
   margin: 0 auto;
   font-size: 0;
   padding: 100px 0 100px 0;
}
.jewels-content {
   font-family: "Cormorant Infant", serif;
   max-width: 503px;
   display: inline-block;
   padding-top: 70px;
   margin-right: 75px;
}
.what-we-do {
   color: #D58417;
   font-size: 20px;
   font-weight: 700;
   line-height: 1;
   margin-bottom: 27px;
   text-transform: uppercase;
}
.title-jewels {
   color: #000;
   font-size: 64px;
   font-weight: 700;
   line-height: 1;
   margin-bottom: 31px;
   text-transform: capitalize;
}
.text-lorem {
   color: #606060;
   font-size: 30px;
   font-weight: 700;
   line-height: 1.4;
}
.picture-box{
   display: inline-block;
   vertical-align: top;
}
.block-picture-1{
   margin-right: 30px;
   border: 1px solid #502203;
   border-radius: 235px;
   width: 177px;
   height: 336px;
}
.picture-1{
   width: 177px;
   height: 336px;
   margin-left: -10px;
   margin-top: 14px;
   border-radius: 235px;
}
.block-picture-2{
   border: 1px solid #502203;
   border-radius: 235px;
   width: 307px;
   height: 500px;
}
.picture-2{
   width: 307px;
   height: 500px;
   margin-left: -10px;
   margin-top: 19px;
   border-radius: 235px;
}
.block-picture-1,
.block-picture-2{
   display: inline-block;
   vertical-align: middle;
}
.block{
   background-color: #502203;
   padding: 15px;
   width: 300px;
}
.block-2{
   background-color: #40DDB6;
   border: 5px solid red
}
.block a{
   color: yellow;
   border-bottom: 2px dotted;
}

.block-3{
   background-color: #37393F;
   border: 5px solid transparent;
   border-radius: 20px;
}
.inline{
   background-color: #dce715;
   border: 5px solid transparent;
}
.inline-2{
   background-color: #5525f3;
}
.inline-block{
   background-color: #f012ec;
   border: 5px solid red;
   border-radius: 50px;
}
.circle{
   width: 300px;
   height: 300px;
   background-color: rgb(52, 20, 213);
   border-radius: 50%;
   border: 5px solid rgb(23, 238, 63);
}
